/* Rebecca Essenburg
CSD 340
Assignment 3.2
4/5/26 */

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Delius+Swash+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
background-color: #121212;
}

#container {
margin-top: 50px;
margin-left: 100px;
margin-right: 100px;
}

h1 {
font-family: "Sour Gummy", sans-serif;
background-color: #350E63;
color: #FFFFFF;
border: 1px solid #D6A800;
padding: 10px;
}

h2 {
font-family: "Sour Gummy", sans-serif;
background-color: #43127F;
color: #FFFFFF;
border: 1px solid #D6A800;
padding: 10px;
}

h3 {
font-family: "Delius Swash Caps", cursive;
background-color: #6E43A3;
color: #FFFFFF;
border: 1px solid #D6A800;
padding: 10px;
}

h4 {
font-family: "Delius Swash Caps", cursive;
background-color: #8662B2;
color: #FFFFFF;
border: 1px solid #D6A800;
padding: 10px;
}

a {
font-family: "Comic Relief", system-ui;
color: #C7B6DB;
text-decoration: none;
}

a:hover {
color: #D6A800;
text-decoration: underline;
}

a:visited {
color: #43127F;
}